build==1.3.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.3.0
colorama==0.4.6
colorspacious==1.1.2
contourpy==1.3.1
cycler==0.12.1
et-xmlfile==2.0.0
fastrlock==0.8.3
filelock==3.17.0
fonttools==4.55.8
fsspec==2024.12.0
h5py==3.15.1
idna==3.10
imageio==2.37.0
jinja2==3.1.5
kiwisolver==1.4.8
line-profiler==4.2.0
markupsafe==3.0.2
matplotlib==3.10.0
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.6
opencv-contrib-python>=4.10.0
openpyxl==3.1.5
opticalglass==1.1.0
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pip-tools==7.5.0
py-cpuinfo==9.0.0
pyparsing==3.2.1
pyproject-hooks==1.2.0
pyqt5==5.15.11
pyqt5-qt5==5.15.2
pyqt5-sip==12.17.0
pyserial==3.5
pyside6==6.10.1
pyside6-addons==6.10.1
pyside6-essentials==6.10.1
python-dateutil==2.9.0.post0
pytz==2025.1
pyyaml==6.0.2
qutip==5.2.1
requests==2.32.3
scipy==1.15.1
seaborn==0.13.2
setuptools==75.8.0
shiboken6==6.10.1
six==1.17.0
sympy==1.13.1
tomli==2.2.1
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
typing-extensions==4.12.2
tzdata==2025.1
ultralytics==8.3.70
ultralytics-thop==2.0.14
urllib3==2.3.0
uv==0.9.18
wheel==0.45.1
xlrd==2.0.2
pydata-sphinx-theme==0.16.1
docutils>=0.21
sphinx==9.1.0
nbsphinx==0.9.8
sphinx-copybutton==0.5.2 
mock
